# Backend Configuration
PORT=4000

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=leo_ws_db
POSTGRES_PORT=5432

# Database URL (used by NestJS TypeORM)
# Format: postgresql://username:password@host:port/database
DATABASE_URL=postgresql://postgres.zcqywitffwqkjcvmhnaj:toilakhang1@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispassword

#S3
REGION=
BUCKET=
ACCESS_KEY=
SECRET_ACCESS_KEY=